/* カード */
div .index-card {
    margin: 0 10px 10px;
    padding: 7px;
    position: relative;
    background: #fafafa;
    height: 80px;
    width: 310px;
    transition: 0.3s;
    filter: drop-shadow(0px 2px 4px #ccc);
}

div .index-card-selected {
    margin: 0 10px 10px;
    padding: 7px;
    position: relative;
    background: #fafafa;
    height: 80px;
    width: 310px;
    transition: 0.3s;
    filter: drop-shadow(0px 2px 4px #ccc);
    background: linear-gradient(
    135deg,
    transparent 15px,
    #fafafa 15px,
    #fafafa 100%
    );
}

div .index-card-selected::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border: 10px solid #f59ece;
    border-left-color: transparent;
    border-top-color: transparent;
    box-sizing: border-box;
}

div .index-card:hover {
    transform: translateY(-1.7px);
    box-shadow: 0 7px 14px -2px rgb(0 0 0 / 15%), 0 0 2px rgb(0 0 0 / 10%);
}

div .username {
    position: absolute;
    margin-left: 30px;
    font-size: 14px;
}

div .index-card .warp {
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: 10px;
    height: 36px;
    display: flex;
    align-items: flex-end;
}

div .index-card .warp>div:nth-child(2) {
    margin-left: auto;
}

div .index-card .warp .token {
    height: 30px;
    margin-left: 25px;
    font-size: 36px;
}

div .index-card .warp .icon {
    margin-bottom: -3px;
    padding-left: 5px;
    fill: #999;
}

div .index-card .warp .icon:hover {
    transform: 
    translateY(-1.5px)
    translateX(-1.5px);
}