/* ヘッダー */
header {
    padding-bottom: 10px;
}

header .warp {
    display: flex;
    padding: 6px 6px 0;
    background: #fafafa;
    box-shadow: 
    0 0.01px 0.025px rgba(0, 0, 0, 0.057),
    0 0.02px 0.5px rgba(0, 0, 0, 0.076),
    0 0.2px 1px rgba(0, 0, 0, 0.086),
    0 0.5px 2px rgba(0, 0, 0, 0.092),
    0 0.6px 5px rgba(0, 0, 0, 0.1),
    0 1px 7px rgba(0, 0, 0, 0.13);
}

header .warp>div:nth-child(1) {
    margin-right: auto;
}

header .warp>div:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
}

header .warp>div:nth-child(3) {
    margin-left: auto;
}

/* 追加ボタン */
.add_user {
    padding: 20px;
    text-align: center;
    filter: drop-shadow(0px 2px 4px #ccc);
}

.add_btn {
    padding: 10px;
    color: #fff;
    background-color: #f16272;
    border-radius: 100vh;
    font-size: 16px;
    text-decoration: none;
}

.add_btn:hover {
    background-color: #ee3e52;
}

/* トグルスイッチ */
.switch__label {
    width: 35px;
    position: relative;
    display: inline-block;
}
.switch__content {
    display: block;
    cursor: pointer;
    position: relative;
    border-radius: 24px;
    height: 25px;
    overflow: hidden;
}
.switch__content:before {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    top: 0;
    left: 0;
    border: 1.5px solid #E5E5EA;
    border-radius: 24px;
    background-color: #fff;
}
.switch__content:after {
    content: "";
    display: block;
    position: absolute;
    background-color: transparent;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    border-radius: 24px;
    -webkit-transition: all .5s;
       -moz-transition: all .5s;
        -ms-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;
}
.switch__input {
    display: none;
}
.switch__circle {
    display: block;
    top: 2px;
    left: 2px;
    position: absolute;
    -webkit-box-shadow: 0 2px 6px #999;
            box-shadow: 0 2px 6px #999;
    width: 21px;
    height: 21px;
    -webkit-border-radius: 14px;
            border-radius: 14px;
    background-color: #fff;
    -webkit-transition: all .5s;
       -moz-transition: all .5s;
        -ms-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;
}
.switch__input:checked ~ .switch__circle {
    left: 13px;
}
.switch__input:checked ~ .switch__content:after {
    background-color: #00c4cc;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}